<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    {% block head %}
    <link rel="stylesheet" href="/style.css" />
    <title>{% block title %}{% endblock title %} - Elekrisk</title>
    {% endblock head %}
</head>

<body>
    <header>
        {% if page is defined %}
        {% set ancestors = page.ancestors %}
        {% set title = page.title %}
        {% elif section is defined %}
        {% set ancestors = section.ancestors %}
        {% set title = section.title %}
        {% else %}
        {% set ancestors = [] %}
        {% endif %}

        <nav>
            <div class="navbar">
                {% if lang == "sv" %}
                <a href="/">Hem</a>
                <a href="/projects/">Projekt</a>
                <a href="/tags/">Taggar</a>
                {% elif lang == "en" %}
                <a href="/en/">Home</a>
                <a href="/en/projects/">Projects</a>
                <a href="/en/tags/">Tags</a>
                {% endif %}
            </div>
            <div class="lang">
                {% if lang == "sv" %}
                <a href="/en{{current_path}}">English</a>
                {% elif lang == "en" %}
                <a href="{{current_path | trim_start_matches(pat="/en")}}">Svenska</a>
                {% endif %}
            </div>
        </nav>

        {% if (ancestors | length) %}
        <div class="breadcrumbs">
            {% for ancestor in ancestors %}
            {% set sec = get_section(path=ancestor, metadata_only=true) %}
            <a href={{sec.path}}>{{sec.title}}</a>
            &gt;
            {% endfor %}
            <span class="last">{{ title }}</span>
        </div>
        {% endif %}
    </header>
    <main>{% block content %}{% endblock content %}</main>
    <footer>
        {% block footer %}

        {% endblock footer %}
    </footer>

</body>
</html>